* {
  font-family: "Ropa Sans", sans-serif;
}

body {
  background-image: linear-gradient(#32eaf4, #df21c3);
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main-cta {
  background-color: #320879;
  color: white;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 3px 3px #df21c3;
}

#synth-options-container {
  display: flex;

  justify-content: center;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

/* FOOTER */

#footer {
  height: 60px;
}

.footer-container {
  display: flex;
  margin-top: 20px;
  margin-left: 40px;
  justify-content: center;
}

.footer-column {
  flex: 21%;
  margin: 5px;
  height: 40px;
  justify-content: center;
}

/* HOME */

.home-title {
  font-family: "Orbitron", sans-serif;
  font-size: 90px;
  color: #e12967;
  text-shadow: 6px 6px #320879;
}

.home-page {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgb(192, 192, 192) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(192, 192, 192) 1px, transparent 1px);
  background-color: transparent;
  height: 100%;
}

.banner {
  width: 100%;
  height: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  /* background-image: url('./banner-illustration.jpeg'); */
}

.options-container {
  height: 300px;
  justify-content: space-between;
  padding-top: 50px;
  display: flex;
}

.option-card {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  width: 200px;
  height: 100px;
  border-radius: 4px;
  box-shadow: 7px 7px #df21c3;
  justify-content: center;
  align-items: center;
  background-color: #320879;
}

.join-card {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  width: 200px;
  height: 100px;
  border-radius: 4px;
  box-shadow: 7px 7px #df21c3;
  justify-content: space-between;
  align-items: center;
  background-color: #320879;
}

.join-cta {
  background-color: white;
  color: #320879;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 10px;
  border: none;
  height: 50px;
  border-radius: 5px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
}

.instructions-container {
  display: flex;
  justify-content: flex-end;
}

.instructions-button {
  background-color: transparent;
  padding: 10px;
  font-size: 0;
  border: none;
  position: fixed;
  right: 3%;
  bottom: 10%;
}

.instructions-img {
  width: 80px;
  height: 80px;
  float: right;
}

/* WAITING ROOM */

.waiting-room {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgb(192, 192, 192) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(192, 192, 192) 1px, transparent 1px);
  background-color: transparent;
  height: 100%;
}

.waiting-title {
  font-family: "Orbitron", sans-serif;
  font-size: 70px;
  color: #e12967;
  text-shadow: 6px 6px #320879;
}

.waiting-view {
  height: 900px;
  display: flex;
}

.waiting-info {
  float: left;
  width: 50%;
  margin-left: 80px;
}

/* SEQUENCER */

.sequencer {
  border-radius: 5px;
  width: fit-content;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: fit-content;
  margin: auto;
}

.note {
  border-radius: 5px;
  height: 4em;
  width: 4em;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  margin: 2px;
  outline: none;
  /* background-color: rgb(202, 202, 202); */
}

.previous-note {
  background-color: rgb(187, 187, 187);
}

.sequencer-row {
  display: inline-block;
  white-space: nowrap;
}

.fuchsia-synth {
  background-color: rgb(186, 37, 255);
  border: 1px solid black;
}

.blue-synth {
  background-color: rgb(46, 241, 241);
  border: 1px solid black;
}

.orange-synth {
  background-color: rgb(255, 176, 30);
  border: 1px solid black;
}

#fuchsia-synth-button {
  background-color: rgb(195, 66, 255);
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  box-shadow: 3px 3px #df21c3;
}

#blue-synth-button {
  background-color: rgb(30, 233, 206);
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  box-shadow: 3px 3px #df21c3;
}

#orange-synth-button {
  background-color: rgb(255, 176, 30);
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  box-shadow: 3px 3px #df21c3;
}

#title-head {
  display: flex;
  text-align: center;
}

.player-options {
  margin-left: 75px;
}

.custom-select {
  height: 30px;
  width: 100px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px;
}

.inactive-beat {
  border-radius: 5px;
  height: 2em;
  width: 4em;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(95, 95, 95);
  background-color: rgb(117, 117, 117);
  margin: 2px;
  outline: none;
}

.active-beat {
  border-radius: 5px;
  height: 2em;
  width: 4em;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(95, 95, 95);
  margin: 2px;
  outline: none;
  background-color: rgb(255, 7, 181);
}

.note-not-active {
  background-color: solid grey;
}

.toggle-play {
  height: 100px;
  position: relative;
}

.play-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.play-button {
  margin: auto;
  background-color: #320879;
  color: white;
  padding: 15px;
  margin-left: 5px;
  margin-top: 20px;
  border: none;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 3px 3px #21c3df;
}

/* CHAT */

.chat-container {
  margin-top: 200px;
}

.chat-window {
  height: 60vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  border: 4px solid #453a94;
  border-radius: 10px;
}

.chat-header {
  height: 5vh;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 4px solid #453a94;
  display: flex;
  align-items: center;
}
.chat-header .chat-button {
  margin: 9px 0 9px 14px;
  width: 15px;
  height: 15px;
  background-color: #ff7871;
  border-radius: 100%;
  box-shadow: 4px 4px #db0035;
}

.chat-messages {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 15px 15px 0 15px;
  background: rgba(219, 0, 53, 0.2);
  overflow-y: scroll;
}
.chat-messages #messages {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chat-messages #messages .bubble {
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  animation: appear 0.3s cubic-bezier(0.36, -0.04, 0.15, 1.64) forwards;
  max-width: 60%;
}
.chat-messages #messages .bubble:nth-child(even) {
  align-self: flex-end;
  border-bottom-right-radius: 0;
  background-color: #453a94;
  color: white;
  transform-origin: bottom right;
}
.chat-messages #messages .bubble:nth-child(odd) {
  align-self: flex-start;
  display: inline-block;
  border-bottom-left-radius: 0;
  background-color: white;
  color: #453a94;
  transform-origin: bottom left;
}

.input-container {
  display: flex;
  flex: none;
  width: 100%;
  bottom: 0;
  height: 14vh;
  max-height: 100px;
  justify-content: stretch;
  background: rgba(255, 255, 255, 0.5);
  border-top: 4px solid #453a94;
  border-radius: 0 0 12px 12px;
}

.message-input {
  border: none;
  flex: auto;
  padding: 1.5rem;
  background: transparent;
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  font-size: 1rem;
}

.message-submit {
  margin: 2vh;
  background: #ff7871;
  box-shadow: 4px 4px #db0035;
  width: 10vh;
  padding: 1.5rem;
  border-radius: 5px;
  border: none;
  position: relative;
}
.message-submit:after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border: 5px solid white;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  position: absolute;
  top: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
}
