* {
  font-family: "Ropa Sans", sans-serif;
}

body {
  background-image: linear-gradient(#32eaf4, #df21c3);
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main-cta {
  background-color: #320879;
  color: white;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  width: 140px;
  height: 50px;
  border-radius: 5px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

/* FOOTER */

#footer {
  height: 60px;
}

.footer-container {
  display: flex;
}

.footer-column {
  flex: 21%;
  margin: 5px;
  margin-top: 20px;
  margin-left: 40px;
  height: 80px;
  justify-content: space-between;
}

/* HOME */

.home-title {
  font-family: "Orbitron", sans-serif;
  font-size: 90px;
  color: #e12967;
  text-shadow: 6px 6px #320879;
}

.home-page {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgb(192, 192, 192) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(192, 192, 192) 1px, transparent 1px);
  background-color: transparent;
  height: 100%;
}

.banner {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.options-container {
  height: 400px;
  text-align: center;
  padding-top: 50px;
  display: flex;
}

.option-card {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  width: 200px;
  height: 60px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #df21c3;
  justify-content: space-between;
  align-items: center;
  background-color: #320879;
}

.column {
  float: left;
  width: 33.33%;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
}

/* WAITING ROOM */

.waiting-room {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgb(192, 192, 192) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(192, 192, 192) 1px, transparent 1px);
  background-color: transparent;
  height: 100%;
}

.waiting-title {
  font-family: "Orbitron", sans-serif;
  font-size: 70px;
  color: #e12967;
  text-shadow: 6px 6px #320879;
}

.waiting-view {
  height: 700px;
  width: 50%;
  margin-left: 80px;
}

/* SEQUENCER */

.sequencer {
  border-radius: 5px;
  width: fit-content;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: fit-content;
  margin: auto;
}

.note {
  border-radius: 5px;
  height: 4em;
  width: 4em;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  margin: 2px;
  outline: none;
  /* background-color: rgb(202, 202, 202); */
}

.previous-note {
  background-color: rgb(187, 187, 187);
}

.sequencer-row {
  display: inline-block;
  white-space: nowrap;
}

.green-synth {
  background-color: green;
  border: 1px solid black;
}

.blue-synth {
  background-color: rgb(21, 51, 185);
  border: 1px solid black;
}

.red-synth {
  background-color: rgb(128, 26, 0);
  border: 1px solid black;
}

.player-options {
  margin-left: 75px;
}

.custom-select {
  height: 30px;
  width: 100px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px;
}

.inactive-beat {
  border-radius: 5px;
  height: 2em;
  width: 4em;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(95, 95, 95);
  background-color: rgb(117, 117, 117);
  margin: 2px;
  outline: none;
}

.active-beat {
  border-radius: 5px;
  height: 2em;
  width: 4em;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(95, 95, 95);
  margin: 2px;
  outline: none;
  background-color: rgb(255, 7, 181);
}

.note-not-active {
  background-color: solid grey;
}

.toggle-play {
  height: 100px;
  position: relative;
}

.play-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.play-button {
  margin: auto;
  background-color: #320879;
  color: white;
  padding: 15px;
  margin-left: 5px;
  margin-top: 20px;
  border: none;
  width: 90px;
  border-radius: 5px;
}

/* CHAT BOX */

.bubbleWrapper {
  padding: 10px 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: flex-end;
  color: #fff;
}
.inlineContainer {
  display: inline-flex;
}
.otherBubble {
  min-width: 60px;
  max-width: 700px;
  padding: 14px 18px;
  margin: 6px 8px;
  background-color: #6c8ea4;
  border-radius: 16px 16px 16px 0;
  border: 1px solid #54788e;
}
